<?xml version="1.0" encoding="UTF-8"?>
    <!--
        Licensed to the Apache Software Foundation (ASF) under one or more
        contributor license agreements. See the NOTICE file distributed with
        this work for additional information regarding copyright ownership.
        The ASF licenses this file to you under the Apache License, Version
        2.0 (the "License"); you may not use this file except in compliance
        with the License. You may obtain a copy of the License at
        http://www.apache.org/licenses/LICENSE-2.0 Unless required by
        applicable law or agreed to in writing, software distributed under the
        License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
        CONDITIONS OF ANY KIND, either express or implied. See the License for
        the specific language governing permissions and limitations under the
        License.
    -->
<server xmlns="http://mina.apache.org/ftpserver/spring/v1"
	xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://mina.apache.org/ftpserver/spring/v1 http://mina.apache.org/ftpserver/ftpserver-1.0.xsd    
       "
    id="myServer">
    <listeners>
        <nio-listener name="default" port="2121">
            <ssl>
                <keystore file="/etc/appconf/ftpserver.jks" password="password" />
            </ssl>
            <data-connection idle-timeout="300">
            	<!--
            	1.若是外网访问，主动模式是不行的，因为客户端报告给服务器的IP地址是内网IP，服务器无法主动向此地址发起连接。必须使用被动模式。
				2.使用被动模式时，是由服务器端告诉客户端向哪个IP哪些端口发起连接。那么哪个IP，哪些端口？配置如下，其中“xxx.xxx.xxx.xxx”是此服务器的外网IP，
				“1034-1040”则是可供客户端连接的端口，注意防火墙要将这些端口放行。
				-->
            	<active enabled="true" local-port="2123" ip-check="false" />
                <passive ports="2125-4840" external-address="172.16.0.105"/>
            	<!--<active enabled="true" local-address="1.2.3.4" local-port="2121" ip-check="true" ></active>
            	<passive ports="2121" address="1.2.3.4" external-address="1.2.3.4"> </passive>-->
        	</data-connection>
        </nio-listener>
    </listeners>
    <!-- 坑比  ftplets 必須放在file-user-manager前面 不然报标签错误 -->
    <ftplets>
		<ftplet name="ftpService">
			<beans:bean class="com.retloh.ftpserver.FtpService">
				<!--  <beans:property name="foo" value="123" /> -->
			</beans:bean>
		</ftplet>
	</ftplets>
    <!--<file-user-manager file="D:/javaworkspace/Holter/WebContent/WEB-INF/users.properties" />-->
    <user-manager>
    	<beans:bean class="com.retloh.service.impl.FtpServerUserManagerImpl"></beans:bean>
    </user-manager> 
</server>