<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retloh.dao.BloodPreDataMapper" >
  <resultMap id="BaseResultMap" type="com.retloh.model.BloodPreData" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="interval_id" property="intervalId" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="systole" property="systole" jdbcType="INTEGER" />
    <result column="diastole" property="diastole" jdbcType="INTEGER" />
    <result column="hr" property="hr" jdbcType="INTEGER" />
    <result column="data_no" property="dataNo" jdbcType="INTEGER" />
    <result column="caiji_date" property="caijiDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, interval_id, count, systole, diastole, hr, data_no, caiji_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.retloh.model.BloodPreDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from blood_pressure_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from blood_pressure_data
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from blood_pressure_data
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.retloh.model.BloodPreDataExample" >
    delete from blood_pressure_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.retloh.model.BloodPreData" >
    insert into blood_pressure_data (id, interval_id, count, 
      systole, diastole, hr, 
      data_no, caiji_date)
    values (#{id,jdbcType=VARCHAR}, #{intervalId,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{systole,jdbcType=INTEGER}, #{diastole,jdbcType=INTEGER}, #{hr,jdbcType=INTEGER}, 
      #{dataNo,jdbcType=INTEGER}, #{caijiDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.retloh.model.BloodPreData" >
    insert into blood_pressure_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="intervalId != null" >
        interval_id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="systole != null" >
        systole,
      </if>
      <if test="diastole != null" >
        diastole,
      </if>
      <if test="hr != null" >
        hr,
      </if>
      <if test="dataNo != null" >
        data_no,
      </if>
      <if test="caijiDate != null" >
        caiji_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="intervalId != null" >
        #{intervalId,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="systole != null" >
        #{systole,jdbcType=INTEGER},
      </if>
      <if test="diastole != null" >
        #{diastole,jdbcType=INTEGER},
      </if>
      <if test="hr != null" >
        #{hr,jdbcType=INTEGER},
      </if>
      <if test="dataNo != null" >
        #{dataNo,jdbcType=INTEGER},
      </if>
      <if test="caijiDate != null" >
        #{caijiDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.retloh.model.BloodPreDataExample" resultType="java.lang.Integer" >
    select count(*) from blood_pressure_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blood_pressure_data
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.intervalId != null" >
        interval_id = #{record.intervalId,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.systole != null" >
        systole = #{record.systole,jdbcType=INTEGER},
      </if>
      <if test="record.diastole != null" >
        diastole = #{record.diastole,jdbcType=INTEGER},
      </if>
      <if test="record.hr != null" >
        hr = #{record.hr,jdbcType=INTEGER},
      </if>
      <if test="record.dataNo != null" >
        data_no = #{record.dataNo,jdbcType=INTEGER},
      </if>
      <if test="record.caijiDate != null" >
        caiji_date = #{record.caijiDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blood_pressure_data
    set id = #{record.id,jdbcType=VARCHAR},
      interval_id = #{record.intervalId,jdbcType=VARCHAR},
      count = #{record.count,jdbcType=INTEGER},
      systole = #{record.systole,jdbcType=INTEGER},
      diastole = #{record.diastole,jdbcType=INTEGER},
      hr = #{record.hr,jdbcType=INTEGER},
      data_no = #{record.dataNo,jdbcType=INTEGER},
      caiji_date = #{record.caijiDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.retloh.model.BloodPreData" >
    update blood_pressure_data
    <set >
      <if test="intervalId != null" >
        interval_id = #{intervalId,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="systole != null" >
        systole = #{systole,jdbcType=INTEGER},
      </if>
      <if test="diastole != null" >
        diastole = #{diastole,jdbcType=INTEGER},
      </if>
      <if test="hr != null" >
        hr = #{hr,jdbcType=INTEGER},
      </if>
      <if test="dataNo != null" >
        data_no = #{dataNo,jdbcType=INTEGER},
      </if>
      <if test="caijiDate != null" >
        caiji_date = #{caijiDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.retloh.model.BloodPreData" >
    update blood_pressure_data
    set interval_id = #{intervalId,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      systole = #{systole,jdbcType=INTEGER},
      diastole = #{diastole,jdbcType=INTEGER},
      hr = #{hr,jdbcType=INTEGER},
      data_no = #{dataNo,jdbcType=INTEGER},
      caiji_date = #{caijiDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>