<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retloh.dao.XueyaInfoMapper" >
  <resultMap id="BaseResultMap" type="com.retloh.model.XueyaInfo" >
    <id column="patient_id" property="patientId" jdbcType="VARCHAR" />
    <result column="sur_name" property="surName" jdbcType="VARCHAR" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="bed_no" property="bedNo" jdbcType="VARCHAR" />
    <result column="boom_no" property="boomNo" jdbcType="VARCHAR" />
    <result column="section_office" property="sectionOffice" jdbcType="VARCHAR" />
    <result column="doctor_name" property="doctorName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="telephpne" property="telephpne" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="social_num" property="socialNum" jdbcType="VARCHAR" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
    <result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    patient_id, sur_name, first_name, birthday, weight, height, sex, bed_no, boom_no, 
    section_office, doctor_name, code, telephpne, address, country, id_card, social_num, 
    reserve1, reserve2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.retloh.model.XueyaInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from xueyainfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from xueyainfo
    where patient_id = #{patientId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from xueyainfo
    where patient_id = #{patientId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.retloh.model.XueyaInfoExample" >
    delete from xueyainfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.retloh.model.XueyaInfo" >
    insert into xueyainfo (patient_id, sur_name, first_name, 
      birthday, weight, height, 
      sex, bed_no, boom_no, 
      section_office, doctor_name, code, 
      telephpne, address, country, 
      id_card, social_num, reserve1, 
      reserve2)
    values (#{patientId,jdbcType=VARCHAR}, #{surName,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{weight,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, 
      #{sex,jdbcType=VARCHAR}, #{bedNo,jdbcType=VARCHAR}, #{boomNo,jdbcType=VARCHAR}, 
      #{sectionOffice,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{telephpne,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{socialNum,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, 
      #{reserve2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.retloh.model.XueyaInfo" >
    insert into xueyainfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="surName != null" >
        sur_name,
      </if>
      <if test="firstName != null" >
        first_name,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="bedNo != null" >
        bed_no,
      </if>
      <if test="boomNo != null" >
        boom_no,
      </if>
      <if test="sectionOffice != null" >
        section_office,
      </if>
      <if test="doctorName != null" >
        doctor_name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="telephpne != null" >
        telephpne,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="socialNum != null" >
        social_num,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="surName != null" >
        #{surName,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="bedNo != null" >
        #{bedNo,jdbcType=VARCHAR},
      </if>
      <if test="boomNo != null" >
        #{boomNo,jdbcType=VARCHAR},
      </if>
      <if test="sectionOffice != null" >
        #{sectionOffice,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="telephpne != null" >
        #{telephpne,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="socialNum != null" >
        #{socialNum,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.retloh.model.XueyaInfoExample" resultType="java.lang.Integer" >
    select count(*) from xueyainfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xueyainfo
    <set >
      <if test="record.patientId != null" >
        patient_id = #{record.patientId,jdbcType=VARCHAR},
      </if>
      <if test="record.surName != null" >
        sur_name = #{record.surName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstName != null" >
        first_name = #{record.firstName,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.bedNo != null" >
        bed_no = #{record.bedNo,jdbcType=VARCHAR},
      </if>
      <if test="record.boomNo != null" >
        boom_no = #{record.boomNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sectionOffice != null" >
        section_office = #{record.sectionOffice,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorName != null" >
        doctor_name = #{record.doctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.telephpne != null" >
        telephpne = #{record.telephpne,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        id_card = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.socialNum != null" >
        social_num = #{record.socialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve1 != null" >
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null" >
        reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xueyainfo
    set patient_id = #{record.patientId,jdbcType=VARCHAR},
      sur_name = #{record.surName,jdbcType=VARCHAR},
      first_name = #{record.firstName,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      weight = #{record.weight,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      sex = #{record.sex,jdbcType=VARCHAR},
      bed_no = #{record.bedNo,jdbcType=VARCHAR},
      boom_no = #{record.boomNo,jdbcType=VARCHAR},
      section_office = #{record.sectionOffice,jdbcType=VARCHAR},
      doctor_name = #{record.doctorName,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      telephpne = #{record.telephpne,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      social_num = #{record.socialNum,jdbcType=VARCHAR},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      reserve2 = #{record.reserve2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.retloh.model.XueyaInfo" >
    update xueyainfo
    <set >
      <if test="surName != null" >
        sur_name = #{surName,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="bedNo != null" >
        bed_no = #{bedNo,jdbcType=VARCHAR},
      </if>
      <if test="boomNo != null" >
        boom_no = #{boomNo,jdbcType=VARCHAR},
      </if>
      <if test="sectionOffice != null" >
        section_office = #{sectionOffice,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="telephpne != null" >
        telephpne = #{telephpne,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="socialNum != null" >
        social_num = #{socialNum,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where patient_id = #{patientId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.retloh.model.XueyaInfo" >
    update xueyainfo
    set sur_name = #{surName,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      weight = #{weight,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      bed_no = #{bedNo,jdbcType=VARCHAR},
      boom_no = #{boomNo,jdbcType=VARCHAR},
      section_office = #{sectionOffice,jdbcType=VARCHAR},
      doctor_name = #{doctorName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      telephpne = #{telephpne,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      social_num = #{socialNum,jdbcType=VARCHAR},
      reserve1 = #{reserve1,jdbcType=VARCHAR},
      reserve2 = #{reserve2,jdbcType=VARCHAR}
    where patient_id = #{patientId,jdbcType=VARCHAR}
  </update>
</mapper>